---
layout: default
title: Mike Frolov: 100AM Project
nav: portfolio
---
<div class="hero project-page">
    {% include nav.html %}
    <div class="heading-wrapper tn-container">
      <div><a href="/companies/100am" data-tn-expand="category" class="link-block tn-inline-block">
          <h6 data-tn-expand="category" class="heading">100AM</h6>
        </a><a href="/categories/native" data-tn-expand="category" class="category-link tn-inline-block">
          <h6 data-tn-expand="category" class="heading">Native</h6>
        </a></div><img alt="" src="/assets/5ed8e8222fd39706130b555a_100am_project.png"
        sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
        srcset="/assets/5ed8e8222fd39706130b555a_100am_project-p-500.png 500w, /assets/5ed8e8222fd39706130b555a_100am_project.png 800w"
        class="main-detail-image" />
      <h1 class="main-heading">100AM</h1>
    </div>
  </div>
  <div class="container tn-container">
    <div class="company-body tn-richtext">
      <p><strong>Impact Highlights:</strong></p>
      <ul role="list">
        <li>Reduced the time for adding paid content by 40%</li>
        <li>Halved the process of releasing new functionality</li>
        <li>Increased client retention by 28%</li>
        <li>Increased transitions to a more expensive tariff by 16%</li>
      </ul>
    </div>
    <div class="tn-dyn-list">
      <div role="list" class="collection-list tn-dyn-items">
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8eb6672d321ac9433f50c_Screenshot_20200604-085342.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8eb6672d321ac9433f50c_Screenshot_20200604-085342-p-500.png 500w, /assets/5ed8eb6672d321ac9433f50c_Screenshot_20200604-085342-p-800.png 800w, /assets/5ed8eb6672d321ac9433f50c_Screenshot_20200604-085342.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8eb6672d321ac9433f50c_Screenshot_20200604-085342.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8eb6d72d321228333f552_Screenshot_20200604-085403.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8eb6d72d321228333f552_Screenshot_20200604-085403-p-500.png 500w, /assets/5ed8eb6d72d321228333f552_Screenshot_20200604-085403-p-800.png 800w, /assets/5ed8eb6d72d321228333f552_Screenshot_20200604-085403.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8eb6d72d321228333f552_Screenshot_20200604-085403.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8ebb382212c7436299185_Screenshot_1566137148.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8ebb382212c7436299185_Screenshot_1566137148-p-500.png 500w, /assets/5ed8ebb382212c7436299185_Screenshot_1566137148-p-800.png 800w, /assets/5ed8ebb382212c7436299185_Screenshot_1566137148.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8ebb382212c7436299185_Screenshot_1566137148.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8eda072d3210db43402cc_Screenshot_20200604-085216.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8eda072d3210db43402cc_Screenshot_20200604-085216-p-500.png 500w, /assets/5ed8eda072d3210db43402cc_Screenshot_20200604-085216-p-800.png 800w, /assets/5ed8eda072d3210db43402cc_Screenshot_20200604-085216.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8eda072d3210db43402cc_Screenshot_20200604-085216.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8eda6fba48779b288ca8a_Screenshot_20200604-105013.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8eda6fba48779b288ca8a_Screenshot_20200604-105013-p-500.png 500w, /assets/5ed8eda6fba48779b288ca8a_Screenshot_20200604-105013-p-800.png 800w, /assets/5ed8eda6fba48779b288ca8a_Screenshot_20200604-105013.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8eda6fba48779b288ca8a_Screenshot_20200604-105013.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8edd27cc915658a593ab1_Screenshot_1566136708.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8edd27cc915658a593ab1_Screenshot_1566136708-p-500.png 500w, /assets/5ed8edd27cc915658a593ab1_Screenshot_1566136708-p-800.png 800w, /assets/5ed8edd27cc915658a593ab1_Screenshot_1566136708.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8edd27cc915658a593ab1_Screenshot_1566136708.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8edfbf1156581946a31bd_Screenshot_20200604-084627.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8edfbf1156581946a31bd_Screenshot_20200604-084627-p-500.png 500w, /assets/5ed8edfbf1156581946a31bd_Screenshot_20200604-084627-p-800.png 800w, /assets/5ed8edfbf1156581946a31bd_Screenshot_20200604-084627.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8edfbf1156581946a31bd_Screenshot_20200604-084627.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8f078f1156519216a4182_Screenshot_20200604-154445.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed8f078f1156519216a4182_Screenshot_20200604-154445-p-500.png 500w, /assets/5ed8f078f1156519216a4182_Screenshot_20200604-154445-p-800.png 800w, /assets/5ed8f078f1156519216a4182_Screenshot_20200604-154445.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8f078f1156519216a4182_Screenshot_20200604-154445.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed8f07afba487deda88e18f_image_2020_06_04_15_51_36_095.jpg" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed8f07afba487deda88e18f_image_2020_06_04_15_51_36_095.jpg",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90922a7e63c1d2412072b_Screenshot_1566143481.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90922a7e63c1d2412072b_Screenshot_1566143481-p-500.png 500w, /assets/5ed90922a7e63c1d2412072b_Screenshot_1566143481-p-800.png 800w, /assets/5ed90922a7e63c1d2412072b_Screenshot_1566143481.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90922a7e63c1d2412072b_Screenshot_1566143481.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
      </div>
      <div class="tn-dyn-hide tn-dyn-empty">
        <div>No items found.</div>
      </div>
    </div>
    <div class="project-body-copy tn-richtext">
      <p>App for business networking &amp; contact management. With 100AM you are in the know! All vital event
        information is at your fingertips, as well as a contact management tool and other networking opportunities.</p>
      <p>‍<strong>My responsibilities as project architect and mobile team lead:</strong><br /></p>
      <ul role="list">
        <li>Development of architecture for interaction between clients and server</li>
        <li>Coordination of development</li>
        <li>Transformation of business requests to developer tasks</li>
        <li>Decomposition of tasks for developers<br /></li>
      </ul>
      <p><strong>App&#x27;s features:</strong></p>
      <ul role="list">
        <li>Scan paper business cards</li>
        <li>Layout of app&#x27;s interface from server</li>
        <li>Create digital business card with ready to use template or with own image, video or gif</li>
        <li>Import contacts from Gmail (contacts list and interlocutors), Facebook, Outlook, Phone contacts</li>
        <li>Registration/Sign-In</li>
        <li>Subscriptions and in-app purchases</li>
        <li>Contacts list</li>
        <li>Watch contact (image/video/gif content)</li>
        <li>Add notes to contacts</li>
        <li>Set To-Dos and sync them with calendar for each contact</li>
        <li>Sync contacts from 100AM with phone’s address book</li>
        <li>Sync contacts from phone&#x27;s address book to 100AM</li>
        <li>Groups (local - visible only to user; shared - visible to all members of group, can be public or private;
          corporate - group of the company)</li>
        <li>Events (public, private) with schedule, floor plan, members, updates</li>
        <li>Event stats for owner</li>
        <li>Meetings (invite user to meeting inside event, reschedule meeting, approve/cancel requested meeting)</li>
        <li>Import of event from Eventbrite or Timepad</li>
        <li>Share digital business card via NFC, QR, link, vCard, BLE</li>
        <li>Find contacts nearby (BLE, Geolocation)</li>
        <li>Generate image of business card with embedded QR</li>
        <li>Notifications about changes in contacts, groups and events</li>
        <li>Search contacts by info, tags, phone, email and etc.</li>
      </ul>
    </div>
  </div>
  <div class="tn-container">
    <h3 class="section-title">Other Projects</h3>
    <div class="tn-dyn-list">
      <div role="list" class="tn-dyn-items tn-row">
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/corespirit" class="tn-inline-block"><img
              alt="" src="/assets/633ebc11bf57541996855f33_cs-logo.jpg"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/633ebc11bf57541996855f33_cs-logo-p-500.jpg 500w, /assets/633ebc11bf57541996855f33_cs-logo.jpg 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/mountive" class="tn-inline-block"><img
              alt="" src="/assets/6385e971f38ba8ef028f1d16_mountive_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/6385e971f38ba8ef028f1d16_mountive_project-p-500.png 500w, /assets/6385e971f38ba8ef028f1d16_mountive_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/getmark" class="tn-inline-block"><img
              alt="" src="/assets/6385e56e052ec6080e65a917_getmark_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/6385e56e052ec6080e65a917_getmark_project-p-500.png 500w, /assets/6385e56e052ec6080e65a917_getmark_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/habit" class="tn-inline-block"><img
              alt="" src="/assets/5ed8ce4c8e1f4060974cbb51_habit_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed8ce4c8e1f4060974cbb51_habit_project-p-500.png 500w, /assets/5ed8ce4c8e1f4060974cbb51_habit_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/shadowsocks"
            class="tn-inline-block"><img alt="" src="/assets/638652050ca91f9ca635fd5f_shadowsocks_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/638652050ca91f9ca635fd5f_shadowsocks_project-p-500.png 500w, /assets/638652050ca91f9ca635fd5f_shadowsocks_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-queue"
            class="tn-inline-block"><img alt="" src="/assets/5ed9c9b5661a4049efa85f2b_queue_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9c9b5661a4049efa85f2b_queue_project-p-500.png 500w, /assets/5ed9c9b5661a4049efa85f2b_queue_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-fit-assist"
            class="tn-inline-block"><img alt="" src="/assets/5ed92c2cf17e612dd7857317_fit_assist_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed92c2cf17e612dd7857317_fit_assist_project-p-500.png 500w, /assets/5ed92c2cf17e612dd7857317_fit_assist_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-sale-assist"
            class="tn-inline-block"><img alt="" src="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project-p-500.png 500w, /assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik" class="tn-inline-block"><img
              alt="" src="/assets/5ed9102680a6ea7ee2503a24_butik_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9102680a6ea7ee2503a24_butik_project-p-500.png 500w, /assets/5ed9102680a6ea7ee2503a24_butik_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/loyalty-demo"
            class="tn-inline-block"><img alt="" src="/assets/5ed9ead30750791a723147da_loyalty_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9ead30750791a723147da_loyalty_project-p-500.png 500w, /assets/5ed9ead30750791a723147da_loyalty_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/coinface" class="tn-inline-block"><img
              alt="" src="/assets/63d8dd8f2d9d5517df124a6e_coinface_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/63d8dd8f2d9d5517df124a6e_coinface_project-p-500.png 500w, /assets/63d8dd8f2d9d5517df124a6e_coinface_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/klisma" class="tn-inline-block"><img
              alt="" src="/assets/5ed904137b71a1e586ed212b_klisma_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed904137b71a1e586ed212b_klisma_project-p-500.png 500w, /assets/5ed904137b71a1e586ed212b_klisma_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/tobox" class="tn-inline-block"><img
              alt="" src="/assets/5f0effc8e140815520a5fc17_tobox_project.png" class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/morgan-taylor"
            class="tn-inline-block"><img alt="" src="/assets/5ed90d0d7b71a1892eed5850_mt_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed90d0d7b71a1892eed5850_mt_project-p-500.png 500w, /assets/5ed90d0d7b71a1892eed5850_mt_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/alert-button"
            class="tn-inline-block"><img alt="" src="/assets/63d96515e923afe00106100f_alert_button_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/63d96515e923afe00106100f_alert_button_project-p-500.png 500w, /assets/63d96515e923afe00106100f_alert_button_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/bubuka" class="tn-inline-block"><img
              alt="" src="/assets/683f5d5cb1ab90743fad8905_bubuka_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/683f5d5cb1ab90743fad8905_bubuka_project-p-500.png 500w, /assets/683f5d5cb1ab90743fad8905_bubuka_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/bus-track" class="tn-inline-block"><img
              alt="" src="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project-p-500.png 500w, /assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png 800w"
              class="project-image" /></a></div>
      </div>
    </div>
  </div>
  
  <script src="/js/gallery.js" type="text/javascript"></script>
{% include footer.html %}
