---
layout: default
title: Mike Frolov: Morgan Taylor Virtual Salon Project
nav: portfolio
---
<div class="hero project-page">
    {% include nav.html %}
    <div class="heading-wrapper tn-container">
      <div><a href="/companies/sibriver" data-tn-expand="category" class="link-block tn-inline-block">
          <h6 data-tn-expand="category" class="heading">Sibriver</h6>
        </a><a href="/categories/native" data-tn-expand="category" class="category-link tn-inline-block">
          <h6 data-tn-expand="category" class="heading">Native</h6>
        </a></div><img alt="" src="/assets/5ed90d0d7b71a1892eed5850_mt_project.png"
        sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
        srcset="/assets/5ed90d0d7b71a1892eed5850_mt_project-p-500.png 500w, /assets/5ed90d0d7b71a1892eed5850_mt_project.png 800w"
        class="main-detail-image" />
      <h1 class="main-heading">Morgan Taylor Virtual Salon</h1>
    </div>
  </div>
  <div class="container tn-container">
    <div class="company-body tn-condition-invisible tn-dyn-bind-empty tn-richtext"></div>
    <div class="tn-dyn-list">
      <div role="list" class="collection-list tn-dyn-items">
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d14d912b7133660cb95_Screenshot_1566033235.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d14d912b7133660cb95_Screenshot_1566033235-p-500.png 500w, /assets/5ed90d14d912b7133660cb95_Screenshot_1566033235-p-800.png 800w, /assets/5ed90d14d912b7133660cb95_Screenshot_1566033235.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d14d912b7133660cb95_Screenshot_1566033235.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d1a283ccae2af01ac8e_Screenshot_1566033237.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d1a283ccae2af01ac8e_Screenshot_1566033237-p-500.png 500w, /assets/5ed90d1a283ccae2af01ac8e_Screenshot_1566033237-p-800.png 800w, /assets/5ed90d1a283ccae2af01ac8e_Screenshot_1566033237.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d1a283ccae2af01ac8e_Screenshot_1566033237.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d23caa585d3c9f74fd3_Screenshot_1566041602.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d23caa585d3c9f74fd3_Screenshot_1566041602-p-500.png 500w, /assets/5ed90d23caa585d3c9f74fd3_Screenshot_1566041602-p-800.png 800w, /assets/5ed90d23caa585d3c9f74fd3_Screenshot_1566041602.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d23caa585d3c9f74fd3_Screenshot_1566041602.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d2fa3e7b347ac8519d4_Screenshot_1566042950.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d2fa3e7b347ac8519d4_Screenshot_1566042950-p-500.png 500w, /assets/5ed90d2fa3e7b347ac8519d4_Screenshot_1566042950-p-800.png 800w, /assets/5ed90d2fa3e7b347ac8519d4_Screenshot_1566042950.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d2fa3e7b347ac8519d4_Screenshot_1566042950.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d77103d9e673817af9a_Screenshot_1566041609.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d77103d9e673817af9a_Screenshot_1566041609-p-500.png 500w, /assets/5ed90d77103d9e673817af9a_Screenshot_1566041609-p-800.png 800w, /assets/5ed90d77103d9e673817af9a_Screenshot_1566041609.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d77103d9e673817af9a_Screenshot_1566041609.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d7dafac27734bfb962c_Screenshot_1566042418.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d7dafac27734bfb962c_Screenshot_1566042418-p-500.png 500w, /assets/5ed90d7dafac27734bfb962c_Screenshot_1566042418-p-800.png 800w, /assets/5ed90d7dafac27734bfb962c_Screenshot_1566042418.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d7dafac27734bfb962c_Screenshot_1566042418.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d9a80a6eac5e3502014_Screenshot_1566042892.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d9a80a6eac5e3502014_Screenshot_1566042892-p-500.png 500w, /assets/5ed90d9a80a6eac5e3502014_Screenshot_1566042892-p-800.png 800w, /assets/5ed90d9a80a6eac5e3502014_Screenshot_1566042892.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d9a80a6eac5e3502014_Screenshot_1566042892.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90d9e283cca753301af62_Screenshot_1566042898.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90d9e283cca753301af62_Screenshot_1566042898-p-500.png 500w, /assets/5ed90d9e283cca753301af62_Screenshot_1566042898-p-800.png 800w, /assets/5ed90d9e283cca753301af62_Screenshot_1566042898.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90d9e283cca753301af62_Screenshot_1566042898.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90da1f4a04a4f5b44478c_Screenshot_1566042909.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90da1f4a04a4f5b44478c_Screenshot_1566042909-p-500.png 500w, /assets/5ed90da1f4a04a4f5b44478c_Screenshot_1566042909-p-800.png 800w, /assets/5ed90da1f4a04a4f5b44478c_Screenshot_1566042909.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90da1f4a04a4f5b44478c_Screenshot_1566042909.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90dab16b3ef1c05305bb2_Screenshot_1566042382.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90dab16b3ef1c05305bb2_Screenshot_1566042382-p-500.png 500w, /assets/5ed90dab16b3ef1c05305bb2_Screenshot_1566042382-p-800.png 800w, /assets/5ed90dab16b3ef1c05305bb2_Screenshot_1566042382.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90dab16b3ef1c05305bb2_Screenshot_1566042382.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
        <div role="listitem" class="collection-item tn-dyn-item tn-dyn-repeater-item"><a href="#"
            class="tn-inline-block tn-lightbox"><img alt=""
              src="/assets/5ed90dad1de9e60009136f03_Screenshot_1566042357.png"
              sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
              srcset="/assets/5ed90dad1de9e60009136f03_Screenshot_1566042357-p-500.png 500w, /assets/5ed90dad1de9e60009136f03_Screenshot_1566042357-p-800.png 800w, /assets/5ed90dad1de9e60009136f03_Screenshot_1566042357.png 1080w" />
            <script type="application/json" class="tn-json">{
  "items": [
    {
      "url": "/assets/5ed90dad1de9e60009136f03_Screenshot_1566042357.png",
      "type": "image"
    }
  ],
  "group": "screens"
}</script>
          </a></div>
      </div>
      <div class="tn-dyn-hide tn-dyn-empty">
        <div>No items found.</div>
      </div>
    </div>
    <div class="project-body-copy tn-richtext">
      <p>Nail Virtual Salon app</p>
      <p><strong>App contains:</strong><br /></p>
      <ul role="list">
        <li>Tutorial</li>
        <li>Color picker from photo or image from gallery to find matched lacquer</li>
        <li>Dummy for nail lacquer (selection of body color, nails shape/size)</li>
        <li>Lacquer gallery (collections and color schemes)</li>
        <li>Video feed</li>
        <li>News</li>
        <li>Share</li>
      </ul>
    </div>
  </div>
  <div class="tn-container">
    <h3 class="section-title">Other Projects</h3>
    <div class="tn-dyn-list">
      <div role="list" class="tn-dyn-items tn-row">
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/corespirit" class="tn-inline-block"><img
              alt="" src="/assets/633ebc11bf57541996855f33_cs-logo.jpg"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/633ebc11bf57541996855f33_cs-logo-p-500.jpg 500w, /assets/633ebc11bf57541996855f33_cs-logo.jpg 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/mountive" class="tn-inline-block"><img
              alt="" src="/assets/6385e971f38ba8ef028f1d16_mountive_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/6385e971f38ba8ef028f1d16_mountive_project-p-500.png 500w, /assets/6385e971f38ba8ef028f1d16_mountive_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/getmark" class="tn-inline-block"><img
              alt="" src="/assets/6385e56e052ec6080e65a917_getmark_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/6385e56e052ec6080e65a917_getmark_project-p-500.png 500w, /assets/6385e56e052ec6080e65a917_getmark_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/habit" class="tn-inline-block"><img
              alt="" src="/assets/5ed8ce4c8e1f4060974cbb51_habit_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed8ce4c8e1f4060974cbb51_habit_project-p-500.png 500w, /assets/5ed8ce4c8e1f4060974cbb51_habit_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/shadowsocks"
            class="tn-inline-block"><img alt="" src="/assets/638652050ca91f9ca635fd5f_shadowsocks_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/638652050ca91f9ca635fd5f_shadowsocks_project-p-500.png 500w, /assets/638652050ca91f9ca635fd5f_shadowsocks_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-queue"
            class="tn-inline-block"><img alt="" src="/assets/5ed9c9b5661a4049efa85f2b_queue_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9c9b5661a4049efa85f2b_queue_project-p-500.png 500w, /assets/5ed9c9b5661a4049efa85f2b_queue_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-fit-assist"
            class="tn-inline-block"><img alt="" src="/assets/5ed92c2cf17e612dd7857317_fit_assist_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed92c2cf17e612dd7857317_fit_assist_project-p-500.png 500w, /assets/5ed92c2cf17e612dd7857317_fit_assist_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-sale-assist"
            class="tn-inline-block"><img alt="" src="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project-p-500.png 500w, /assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik" class="tn-inline-block"><img
              alt="" src="/assets/5ed9102680a6ea7ee2503a24_butik_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9102680a6ea7ee2503a24_butik_project-p-500.png 500w, /assets/5ed9102680a6ea7ee2503a24_butik_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/loyalty-demo"
            class="tn-inline-block"><img alt="" src="/assets/5ed9ead30750791a723147da_loyalty_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed9ead30750791a723147da_loyalty_project-p-500.png 500w, /assets/5ed9ead30750791a723147da_loyalty_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/coinface" class="tn-inline-block"><img
              alt="" src="/assets/63d8dd8f2d9d5517df124a6e_coinface_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/63d8dd8f2d9d5517df124a6e_coinface_project-p-500.png 500w, /assets/63d8dd8f2d9d5517df124a6e_coinface_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/100am" class="tn-inline-block"><img
              alt="" src="/assets/5ed8e8222fd39706130b555a_100am_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed8e8222fd39706130b555a_100am_project-p-500.png 500w, /assets/5ed8e8222fd39706130b555a_100am_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/klisma" class="tn-inline-block"><img
              alt="" src="/assets/5ed904137b71a1e586ed212b_klisma_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed904137b71a1e586ed212b_klisma_project-p-500.png 500w, /assets/5ed904137b71a1e586ed212b_klisma_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/tobox" class="tn-inline-block"><img
              alt="" src="/assets/5f0effc8e140815520a5fc17_tobox_project.png" class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/alert-button"
            class="tn-inline-block"><img alt="" src="/assets/63d96515e923afe00106100f_alert_button_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/63d96515e923afe00106100f_alert_button_project-p-500.png 500w, /assets/63d96515e923afe00106100f_alert_button_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/bubuka" class="tn-inline-block"><img
              alt="" src="/assets/683f5d5cb1ab90743fad8905_bubuka_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/683f5d5cb1ab90743fad8905_bubuka_project-p-500.png 500w, /assets/683f5d5cb1ab90743fad8905_bubuka_project.png 800w"
              class="project-image" /></a></div>
        <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/bus-track" class="tn-inline-block"><img
              alt="" src="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png"
              sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
              srcset="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project-p-500.png 500w, /assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png 800w"
              class="project-image" /></a></div>
      </div>
    </div>
  </div>
  
  <script src="/js/gallery.js" type="text/javascript"></script>
{% include footer.html %}
