---
layout: default
title: "about:mike"
nav: about
---

<div class="hero about-page">
    {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading">About me</h1>
        </div>
    </div>
    <div>
        <div class="tn-container"><img src="/assets/637e4bf449cf2e2d1110929a_mikefrolov_square.jpg"
                sizes="(max-width: 767px) 100vw, (max-width: 991px) 728px, 940px"
                srcset="/assets/637e4bf449cf2e2d1110929a_mikefrolov_square-p-500.jpg 500w, /assets/637e4bf449cf2e2d1110929a_mikefrolov_square-p-800.jpg 800w, /assets/637e4bf449cf2e2d1110929a_mikefrolov_square-p-1080.jpg 1080w, /assets/637e4bf449cf2e2d1110929a_mikefrolov_square.jpg 1536w"
                alt="" class="profile-pic" />
            <div class="about-me"><a id="overview" href="#overview" class="section-title"># Overview</a>
                <div target="_blank" class="tn-richtext">
                    <p>As a senior developer and architect with over ten years of experience, I have specialized in
                        cross-platform mobile development, native Android development, and Golang backend development. I
                        have successfully completed over 30 projects, most of which I developed from scratch, and have
                        helped many clients develop user-friendly applications.</p>
                    <p>In addition to my development skills, I also excel as a consultant. I can analyze your needs and
                        provide a suitable architecture for your project, ensuring that your application is both
                        efficient and scalable. I&#x27;m used to check UX design, ensuring that your app is intuitive
                        and easy to use for your target audience.</p>
                    <p>I am always seeking interesting projects to work on, and I prefer to use Flutter for iOS and
                        Android app development and Golang for backend development. With my extensive knowledge and
                        experience, I can help you achieve your goals and develop high-quality applications that your
                        users will love.</p>
                </div><a id="languages" href="#languages" class="section-title"># Programming Languages</a>
                <div target="_blank" class="tn-richtext">
                    <p>- Solid experience: Kotlin, Dart, Java, Go, SQL.<br />- Limited experience: Swift, C#, C/C++,
                        Python, Assembly.<br />- Passing familiarity: Objective-C, JavaScript, Ruby.</p>
                </div><a id="experiences" href="#experiences" class="section-title"># Experience</a>
                <div target="_blank" class="tn-richtext">
                    <p>I have successfully created and launched various types of applications that cater to different
                        user needs. These include:<br />- Marketplace apps,<br />- Social Networking apps, <br />-
                        Productivity apps,<br />- Chat apps,<br />- Task scheduling apps, <br />- Dark store apps
                        (fitting room, consultant, customer, etc.),<br />- Photo editing apps,<br />- Audio/Video
                        streaming apps,<br />- Map/GIS apps,<br />- Public transportation apps,<br />- Taxi
                        client/driver apps,<br />- Virtual salon apps.</p>
                    <p>As an experienced developer, I have a wealth of knowledge in creating and designing the
                        architecture of interactions between multiple apps and backends. Additionally, I have expertise
                        in creating clear and concise documentation for backend methods.</p>
                    <p>I&#x27;m used to set up CI pipelines that can range from simple project builds to complete build,
                        automated testing, deployment, and even distribution to testers. This ensures that your
                        application is always up-to-date and of the highest quality before it reaches your users.</p>
                    <p>Overall, I have the skills and experience necessary to help you develop and optimize your
                        application&#x27;s architecture, documentation, and CI/CD processes.</p>
                </div><a id="contacts" href="#contacts" class="section-title"># Contacts</a>
                <div class="tn-richtext">
                    <p>Email <a href="mailto:mike@frolov.dev">mike@frolov.dev</a> <br />Telegram <a
                            href="https://t.me/true_night" target="_blank">true_night</a><br /></p>
                </div><a id="links" href="#links" class="section-title"># Links</a>
                <div class="tn-richtext">
                    <p><a href="https://github.com/TrueNight" target="_blank">My Github</a><a
                            href="https://www.linkedin.com/in/mike-frolov-9bb573109/" target="_blank"><br />My
                            LinkedIn<br /></a><a href="https://www.facebook.com/frolov.m/" target="_blank">My
                            Facebook</a></p>
                </div>
            </div>
        </div>
    </div>
    {% include footer.html %}

