---
layout: default
title: Mike Frolov: Android TV Projects
nav: portfolio
---
<div class="hero small">
        {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading inline">All </h1>
            <h1 class="main-heading inline">Android TV</h1>
            <h1 class="main-heading inline"> Projects</h1>
        </div>
    </div>
    <div class="tn-container">
        <div class="tn-dyn-list">
            <div role="list" class="tn-dyn-items tn-row">
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-queue"
                        class="tn-inline-block"><img alt="" src="/assets/5ed9c9b5661a4049efa85f2b_queue_project.png"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/5ed9c9b5661a4049efa85f2b_queue_project-p-500.png 500w, /assets/5ed9c9b5661a4049efa85f2b_queue_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-fit-assist"
                        class="tn-inline-block"><img alt="" src="/assets/5ed92c2cf17e612dd7857317_fit_assist_project.png"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/5ed92c2cf17e612dd7857317_fit_assist_project-p-500.png 500w, /assets/5ed92c2cf17e612dd7857317_fit_assist_project.png 800w"
                            class="project-image" /></a></div>
            </div>
        </div>
    </div>
{% include footer.html %}
