---
layout: default
title: Mike Frolov: Flutter Projects
nav: portfolio
---
<div class="hero small">
        {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading inline">All </h1>
            <h1 class="main-heading inline">Flutter</h1>
            <h1 class="main-heading inline"> Projects</h1>
        </div>
    </div>
    <div class="tn-container">
        <div class="tn-dyn-list">
            <div role="list" class="tn-dyn-items tn-row">
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/corespirit"
                        class="tn-inline-block"><img alt="" src="/assets/633ebc11bf57541996855f33_cs-logo.jpg"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/633ebc11bf57541996855f33_cs-logo-p-500.jpg 500w, /assets/633ebc11bf57541996855f33_cs-logo.jpg 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/mountive"
                        class="tn-inline-block"><img alt="" src="/assets/6385e971f38ba8ef028f1d16_mountive_project.png"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/6385e971f38ba8ef028f1d16_mountive_project-p-500.png 500w, /assets/6385e971f38ba8ef028f1d16_mountive_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/getmark"
                        class="tn-inline-block"><img alt="" src="/assets/6385e56e052ec6080e65a917_getmark_project.png"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/6385e56e052ec6080e65a917_getmark_project-p-500.png 500w, /assets/6385e56e052ec6080e65a917_getmark_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/habit"
                        class="tn-inline-block"><img alt="" src="/assets/5ed8ce4c8e1f4060974cbb51_habit_project.png"
                            sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"
                            srcset="/assets/5ed8ce4c8e1f4060974cbb51_habit_project-p-500.png 500w, /assets/5ed8ce4c8e1f4060974cbb51_habit_project.png 800w"
                            class="project-image" /></a></div>
            </div>
        </div>
    </div>
{% include footer.html %}
