<div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="nav tn-nav">
    <div class="tn-container">
        <a href="/" class="logo logowithimage tn-nav-brand{% if page.nav == 'portfolio' %} tn--current{% endif %}"><img src="/assets/5ecfa6e29d8fbe987ce131b2_true_night.png" alt="" class="image" />
            <div>Mike Frolov</div>
        </a>
        <nav role="navigation" class="nav-menu tn-nav-menu">
            <a href="/" class="nav-link tn-nav-link{% if page.nav == 'portfolio' %} tn--current{% endif %}">Portfolio</a>
            <a href="/about" class="nav-link tn-nav-link{% if page.nav == 'about' %} tn--current{% endif %}">About</a>
        </nav>
        <div class="menu-button tn-nav-button">
            <div class="tn-icon-nav-menu"></div>
        </div>
    </div>
</div>
