---
layout: default
title: Mike Frolov: BUTIK Projects
nav: portfolio
---
<div class="hero small">
        {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading">BUTIK</h1>
        </div>
    </div>
    <div class="tn-container">
        <div class="tn-dyn-list">
            <div role="list" class="tn-dyn-items tn-row">
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-queue"
                        class="tn-inline-block"><img src="/assets/5ed9c9b5661a4049efa85f2b_queue_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed9c9b5661a4049efa85f2b_queue_project-p-500.png 500w, /assets/5ed9c9b5661a4049efa85f2b_queue_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-fit-assist"
                        class="tn-inline-block"><img src="/assets/5ed92c2cf17e612dd7857317_fit_assist_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed92c2cf17e612dd7857317_fit_assist_project-p-500.png 500w, /assets/5ed92c2cf17e612dd7857317_fit_assist_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik-sale-assist"
                        class="tn-inline-block"><img src="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed92c3b6f6ea22acee19a82_sale_assist_project-p-500.png 500w, /assets/5ed92c3b6f6ea22acee19a82_sale_assist_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/butik"
                        class="tn-inline-block"><img src="/assets/5ed9102680a6ea7ee2503a24_butik_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed9102680a6ea7ee2503a24_butik_project-p-500.png 500w, /assets/5ed9102680a6ea7ee2503a24_butik_project.png 800w"
                            class="project-image" /></a></div>
            </div>
        </div>
        <div class="project-body-copy tn-richtext">
            <p><strong>Impact Highlights:</strong></p>
            <ul role="list">
                <li>Built from scratch and launched a new generation fashion-tech offline shop where you can order
                    clothes on a tablet in a private fitting room and get it in less than 5 mins, which allows to reduce
                    the number of fitting room attendants by 72% and decrease required area to 1/5 of the previous old
                    shop</li>
                <li>Facilitated and managed 2 teams with 11 engineers in total</li>
                <li>Reduced testing costs by 91% and crash rate per session from 8.1% to 1.2% by achieving 94% test
                    coverage</li>
            </ul>
        </div>
    </div>
{% include footer.html %}
