---
layout: default
title: Mike Frolov: Own projects Projects
nav: portfolio
---
<div class="hero small">
        {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading">Own projects</h1>
        </div>
    </div>
    <div class="tn-container">
        <div class="tn-dyn-list">
            <div role="list" class="tn-dyn-items tn-row">
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/mountive"
                        class="tn-inline-block"><img src="/assets/6385e971f38ba8ef028f1d16_mountive_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/6385e971f38ba8ef028f1d16_mountive_project-p-500.png 500w, /assets/6385e971f38ba8ef028f1d16_mountive_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/shadowsocks"
                        class="tn-inline-block"><img src="/assets/638652050ca91f9ca635fd5f_shadowsocks_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/638652050ca91f9ca635fd5f_shadowsocks_project-p-500.png 500w, /assets/638652050ca91f9ca635fd5f_shadowsocks_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/loyalty-demo"
                        class="tn-inline-block"><img src="/assets/5ed9ead30750791a723147da_loyalty_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed9ead30750791a723147da_loyalty_project-p-500.png 500w, /assets/5ed9ead30750791a723147da_loyalty_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/coinface"
                        class="tn-inline-block"><img src="/assets/63d8dd8f2d9d5517df124a6e_coinface_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/63d8dd8f2d9d5517df124a6e_coinface_project-p-500.png 500w, /assets/63d8dd8f2d9d5517df124a6e_coinface_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/klisma"
                        class="tn-inline-block"><img src="/assets/5ed904137b71a1e586ed212b_klisma_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed904137b71a1e586ed212b_klisma_project-p-500.png 500w, /assets/5ed904137b71a1e586ed212b_klisma_project.png 800w"
                            class="project-image" /></a></div>
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/bus-track"
                        class="tn-inline-block"><img src="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png"
                            loading="lazy" alt="" sizes="100vw"
                            srcset="/assets/5ed90b19a7e63cb4a41210aa_bustrack_project-p-500.png 500w, /assets/5ed90b19a7e63cb4a41210aa_bustrack_project.png 800w"
                            class="project-image" /></a></div>
            </div>
        </div>
        <div class="project-body-copy tn-dyn-bind-empty tn-richtext"></div>
    </div>
{% include footer.html %}
