---
layout: default
---
{% assign cat = site.data.categories | where: 'slug', page.slug | first %}
<div class="hero small">
        {% include nav.html %}
        <div class="heading-wrapper tn-container">
            <h1 class="main-heading inline">All&nbsp;</h1>
            <h1 class="main-heading inline">{{ cat.title }}</h1>
            <h1 class="main-heading inline">&nbsp;Projects</h1>
        </div>
    </div>
    <div class="tn-container">
        <div class="tn-dyn-list">
            <div role="list" class="tn-dyn-items tn-row">
                {% for project in site.data.projects %}
                {% if project.category == page.slug %}
                <div role="listitem" class="tn-dyn-item tn-col tn-col-4"><a href="/projects/{{ project.slug }}" class="tn-inline-block"><img alt="{{ project.title }}" loading="lazy" src="{{ project.image }}"{% if project.image_small %} srcset="{{ project.image_small }} 500w, {{ project.image }} 800w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 229.328125px, 299.9921875px"{% endif %} class="project-image" /></a></div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% include footer.html %}
