<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ page.title | default: site.title }}</title>
    <meta content="{{ page.title | default: site.title }}" property="og:title" />
    <meta content="{{ page.title | default: site.title }}" property="twitter:title" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/" rel="preconnect" />
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/assets/5eda026dfce8e010dbafe6b2_favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/assets/5eda0294b414c71b889d2ac6_touchicon.png" rel="apple-touch-icon" />
</head>
<body>
{{ content }}
</body>
</html>
